.app-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 50px; */
}

.app-wrapper-content {
  grid-area: content;
  background-color: #90bdbe;
}

/* footer {
  grid-area: footer;
} */

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}
